@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
}

h3 {
  font-size: 2em;  
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: #ececec;
  text-decoration: none;
}

a:hover {
  color: #d4d4d4;
}

i {
  margin-right: 5px;
}
