div.event-info {
    line-height: 200%;  
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0px 20px;
}

div.event-info-panel {
    padding: 20px;
}

div.event-info-panel h4 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}

